@import "tailwindcss";

@font-face {
    font-family: 'gulax';
    src: url('/static/fonts/Gulax-Regular.woff2') format('woff2'),
         url('/static/fonts/Gulax-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Velvelyne';
    src: url('/static/fonts/Velvelyne-Regular.woff2') format('woff2'),
         url('/static/fonts/Velvelyne-Regular.woff') format('woff');
}

/* @font-face { */
/*     font-family: 'agiro'; */
/*          src: url('/static/fonts/Agiro.woff') format('woff'); */
/* } */
/**/
/* @font-face { */
/*     font-family: 'world-tour'; */
/*          src: url('/static/fonts/DTWorldTour-Regular.ttf') format('woff'); */
/* } */

@theme {
	--font-display-sans: "gulax", sans-serif;
	--font-sans: "Velvelyne", sans-serif;

	--cursor-default: url('/static/images/eye0.png') 21 10, default;
	--cursor-pointer: url('/static/images/eye1.png') 21 10, default;
	--cursor-grab: url('/static/images/hand0.png') 21 10, default;
	--cursor-grabbing: url('/static/images/hand1.png') 21 10, default;
	--animate-lamp-light:  pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;

	@keyframes pulse {
		50% {
			opacity: 0.85;
		}
	}
}

@layer base {
	::selection, ::-moz-selection {
		@apply bg-white text-black p-2;
	}

	body{
		@apply cursor-default;
	}

	a, button{
		@apply cursor-pointer;
	}

	a{
		@apply underline;
	}
	h1{
		@apply font-display-sans text-3xl;
	}

	h2{
		@apply font-display-sans text-xl;
	}
	i{ @apply text-4xl; }

}

@source "../views/**/*.templ";
@source "../static/scripts/script.js";
