package views

templ Home(){
	<h1>Home!</h1>
		<p>
			i don't know ui nor graphic design sorry :(
		</p>
		@Button("hello", "Default")
		@Button("hello", "Alternative")
		@Button("hello", "Yellow")
		@Button("hello", "Green")
}

templ About(){
	<h1>About!</h1>
		<p>
			hehehe it works
		</p>
}


templ Contacts(){
	<h1>contacs!</h1>
		<p>
			woohoo
		</p>
}
